.text-center{
    color: white;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: black;
    text-align: center;
    
}
.bg-red{
    background: red;
}
.mx-auto{
    margin: auto;
}
.flex{
    display: flex;
}
.flex-col{
    flex-direction: column;
}
.items-center{
    align-items: center;
}
#b1{
    color: rgb(244, 76, 16);
}
#b2{
    background-color: rgb(244, 76, 16);
}